* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

button {
    margin-top: 20px;
    color: #fff;
    background-color: rgba(251, 101, 47, 0.945);
    border: rgba(251, 101, 47, 0.945);
    border-radius: 30px;
    width: 170px;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
}

i{
    color: rgba(251, 101, 47, 0.945);
}

/*NAV*/

nav {
    display: flex;
}

nav .logo {
    width: 170px;
    height: 50px;
    margin: 30px 0 0 250px;
}

nav .carrinho {
    height: 35px;
    width:  35px;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 30px 0 30px 800px;
}

nav ul li {
    padding: 15px;
    font-size: 18px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    opacity: 0.75;
}


/*HEADER*/

header {
    background: radial-gradient(#fff, #ffd6d6);
}

#conteudo-header {
    height: 805px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#conteudo-header img {
    width: 40%;
    display: inline;
    margin-right: 130px;
}

.area-login-registro {
    width: 800px;
    height: 550px;
    display: flex;
    margin-right: 150px;
}

.registro, .login {
    background-color: white;
    width: 330px;
    height: 450px;
    margin: 10px 25px;
    border-radius: 5px;
    box-shadow: 10px 5px 15px gray;
}

.registro input, .login input {
    display: block;
    margin: 20px 0 10px 22px;
    height: 30px;
    padding: 5px;
    width: 290px;
}

.registro h2 {
    padding: 30px;
    margin: 0 0 50px 80px;
    opacity: 0.6;
}

.login h2 {
    padding: 30px;
    margin: 0 0 50px 100px;
    opacity: 0.6;
}

.registro button {
    margin: 60px 0 10px 22px;
    width: 290px;
}

.login button {
    margin: 30px 0 10px 22px;
    width: 290px;
}

.login a {
    display: block;
    text-decoration: none;
    color: black;
    opacity: 0.7;
    font-size: 15px;
    margin: 15px 0 0 115px;
}

